<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/update/{{employee.id}}/">
        {% csrf_token %}
        <label>Employee Id:</label>
        <input type="text" name="eid" id="id._eid" value="{{employee.eid}}" />
        <br>

        <label>Employee Name:</label>
        <input type="text" name="ename" id="id._ename" value="{{employee.ename}}" />
        <br>

        <label>Employee Email:</label>
        <input type="text" name="eemail" id="id._eemail" value="{{employee.eemail}}" />
        <br>

        <button type="submit">Submit</button>


    </form>
    
</body>
</html>